{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Сменить пароль</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Сменить пароль</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% if perms.employer.view %}
                                    {% include 'fragments/employer_tree_widget.html' %}
                                {% else %}
                                    {% include 'fragments/candidate_tree_widget.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <h3>Сменить пароль</h3>
                                <div class="change-password">
                                    <form name="reset" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Старый пароль</span>
                                                <div class="pf-field">
                                                    <input type="password" name="old-password" required/>
                                                </div>
                                                <span class="pf-title">Новый пароль</span>
                                                <div class="pf-field">
                                                    <input type="password" name="new-password" required/>
                                                </div>
                                                <span class="pf-title">Повторите новый пароль</span>
                                                <div class="pf-field">
                                                    <input type="password" name="new-password-confirm" required/>
                                                </div>
                                                <button type="submit" id="submit">Обновить</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <i class="la la-key big-icon"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}