{% extends 'main_layout.html' %}

{% block header %}
    <header class="stick-top forsticky">
        <div class="menu-sec">
            {% include 'fragments/nav_menu.html' %}
        </div>
    </header>
{% endblock %}