{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Добавить вакансию</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Добро пожаловать</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% include 'fragments/employer_tree_widget.html' %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Создать вакансию</h3>
                                <div class="steps-sec">
                                    <div class="step active">
                                        <p><i class="la la-info"></i></p>
                                        <span>Информация</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la la-cc-mastercard"></i></p>
                                        <span>Платежи</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la  la-check-circle"></i></p>
                                        <span>Готово</span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-form-edit">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Название</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Дизайнер"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Описание</span>
                                            <div class="pf-field">
                                                <textarea>Spent several years working on sheep on Wall Street. Had moderate success investing in Yugos on Wall Street. Managed a small team buying and selling pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed severalnew methods for working with banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer ollaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Тип работы</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Дизайн/Серверная часть/Full Stack"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Зарплата</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="40000"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Опыт работы</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="от 5 лет"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Необходимые навыки</span>
                                            <div class="pf-field">
                                                <ul class="tags">
                                                    <li class="addedTag">JS<span
                                                            onclick="$(this).parent().remove();"
                                                            class="tagRemove">x</span><input type="hidden" name="tags[]"
                                                                                             value="JS"></li>
                                                     <li class="addedTag">PHP<span
                                                            onclick="$(this).parent().remove();"
                                                            class="tagRemove">x</span><input type="hidden" name="tags[]"
                                                                                             value="PHP"></li>
                                                    <li class="tagAdd taglist">
                                                        <input type="text" id="search-field">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Next</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}