{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Вакансии</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Вакансии</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="search_widget_job">
                                <div class="field_w_search">
                                    <input type="text" placeholder="Поиск"/>
                                    <i class="la la-search"></i>
                                </div><!-- Search Widget -->
                                <div class="field_w_search">
                                    <input type="text" placeholder="Везде"/>
                                    <i class="la la-map-marker"></i>
                                </div><!-- Search Widget -->
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title open">Дата открытия вакансии</h3>
                            <div class="posted_widget">
                                <input type="radio" name="choose" id="232"><label for="232">За последний час</label><br/>
                                <input type="radio" name="choose" id="wwqe"><label for="wwqe">За последние сутки</label><br/>
                                <input type="radio" name="choose" id="erewr"><label for="erewr">За последнюю неделю</label><br/>
                                <input type="radio" name="choose" id="qwe"><label for="qwe">За последние 2 недели</label><br/>
                                <input type="radio" name="choose" id="wqe"><label for="wqe">За последний месяц</label><br/>
                                <input type="radio" name="choose" id="qweqw"><label class="nm"
                                                                                    for="qweqw">Все</label><br/>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title open">Рабочий график</h3>
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="choosetype" id="33r"><label for="33r">Свобондый график
                                    (9)</label></p>
                                <p><input type="checkbox" name="choosetype" id="dsf"><label for="dsf">Полная занятость (8)</label></p>
                                <p><input type="checkbox" name="choosetype" id="sdd"><label for="sdd">Студентам
                                    (8)</label></p>
                                <p><input type="checkbox" name="choosetype" id="sadd"><label for="sadd">Неполный день (5)</label></p>
                                <p><input type="checkbox" name="choosetype" id="assa"><label for="assa">Временная
                                    (5)</label></p>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title closed">Область работы</h3>
                            <div class="specialism_widget">
                                <div class="simple-checkbox scrollbar">
                                    {% for category in categories %}
                                        <p><input type="checkbox" name="spealism" id="as"><label for="as">{{ category.category_title }}
                                        ({{ category.get_vacancies_count }})</label></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title closed">Опыт работы</h3>
                            <div class="specialism_widget">
                                <div class="simple-checkbox">
                                    <p><input type="checkbox" name="smplechk" id="9"><label for="9">1Year to
                                        2Year</label></p>
                                    <p><input type="checkbox" name="smplechk" id="10"><label for="10">2Year to
                                        3Year</label></p>
                                    <p><input type="checkbox" name="smplechk" id="11"><label for="11">3Year to
                                        4Year</label></p>
                                    <p><input type="checkbox" name="smplechk" id="12"><label for="12">4Year to
                                        5Year</label></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="modrn-joblist">
                            <div class="tags-bar">
                                <span>Full Time<i class="close-tag">x</i></span>
                                <span>UX/UI Design<i class="close-tag">x</i></span>
                                <span>Istanbul<i class="close-tag">x</i></span>
                                <div class="action-tags">
                                    <a href="#" title=""><i class="la la-cloud-download"></i> Save</a>
                                    <a href="#" title=""><i class="la la-trash-o"></i> Clean</a>
                                </div>
                            </div><!-- Tags Bar -->
                            <div class="filterbar">
                                <div class="sortby-sec">
                                    <span>Sort by</span>
                                    <select data-placeholder="Most Recent" class="chosen">
                                        <option>Most Recent</option>
                                        <option>Most Recent</option>
                                        <option>Most Recent</option>
                                        <option>Most Recent</option>
                                    </select>
                                    <select data-placeholder="20 Per Page" class="chosen">
                                        <option>30 Per Page</option>
                                        <option>40 Per Page</option>
                                        <option>50 Per Page</option>
                                        <option>60 Per Page</option>
                                    </select>
                                </div>
                                <h5>98 Jobs & Vacancies</h5>
                            </div>
                        </div><!-- MOdern Job LIst -->
                        <div class="job-list-modern">
                            <div class="job-listings-sec">
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l1.png' %}" alt=""/></div>
                                        <h3><a href="/job/single/" title="">Web Designer / Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is ft">Full time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div>
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l2.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is pt ">Part time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l3.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">Regional Sales Manager South</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is ft ">Full time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l4.png' %}" alt=""/></div>
                                        <h3><a href="#" title="">Marketing Dairector</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is ft ">Full time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l5.png' %}" alt=""/></div>
                                        <h3><a href="#" title="">Application Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is pt ">Part time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l6.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">Social Media and Public</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is fl ">Freelance</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l2.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is pt ">Part time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l3.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">Regional Sales Manager South</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is ft ">Full time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l4.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">Marketing Dairector</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is ft ">Full time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->
                                <div class="job-listing wtabs">
                                    <div class="job-title-sec">
                                        <div class="c-logo"><img src="{% static 'images/resource/l5.png'%}" alt=""/></div>
                                        <h3><a href="#" title="">Application Developer</a></h3>
                                        <span>Massimo Artemisis</span>
                                        <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California
                                        </div>
                                    </div>
                                    <div class="job-style-bx">
                                        <span class="job-is pt ">Part time</span>
                                        <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        <i>5 months ago</i>
                                    </div>
                                </div><!-- Job -->

                            </div>
                            <div class="viewmore"><span><i></i><i></i><i></i>View More</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}