
{{ login_form.email.errors }}
<div class="cfield">
    {{ login_form.email }}
    <i class="la la-envelope-o"></i>
</div>
{{ login_form.password.errors }}
<div class="cfield">
    {{ login_form.password }}
    <i class="la la-key"></i>
</div>
<p class="remember-label">
    {{ login_form.remember_me }}<label for="remember_me">Запомнить меня</label>
</p>
<input hidden value="{{ next }}" name="next">
<a href="#" title="">Забыли пароль?</a>