{% load user_tags %}
<ul>
    <li class="menu-item">
        <a href="/" title="">Home</a>
    </li>
    <li class="menu-item-has-children">
        <a href="/employers/" title="">Работодатели</a>
        <ul>
            <li><a href="/employers/" title="">Список работодателей</a></li>

            {% if user|has_group:'Employer' %}
                <li class="menu-item-has-children">
                <a href="#" title="">Employer Dashboard</a>
                {% include 'fragments/employer_tree_widget.html' %}
            {% endif %}
            </li>
        </ul>

    </li>
    <li class="menu-item-has-children">
        <a href="/candidates/" title="">Кандидаты</a>
        <ul>
            <li><a href="/candidates/" title="">Список кандидатов</a></li>
            {% if user|has_group:'Candidate' %}
                <li class="menu-item-has-children">
                <a href="#" title="">Candidates Dashboard</a>
                {% include 'fragments/candidate_tree_widget.html' %}
            {% endif %}
            </li>
        </ul>

    </li>
    <li class="menu-item">
        <a href="/job/" title="">Вакансии</a>
    </li>
    <li class="menu-item">
        <a href="/about/" title="">О нас</a>
    </li>
</ul>