{% load static %}
{% load user_tags %}
<div class="container">
    <div class="btn-extars">
        {% if not user.is_authenticated %}
            <ul class="account-btns">
                <li class="signup-popup"><a title=""><i class="la la-key"></i>Регистрация</a></li>
                <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i>Войти</a>
                </li>
            </ul>
        {% else %}
            {% if user|has_group:'Employer' %}
                <a href="/job/new/" title="" class="post-job-btn" style="margin-right: 15px"><i class="la la-plus"></i>Добавить
                    вакансию</a>
                <div class="btns-profiles-sec">
                                <span><img src="{% static 'images/resource/profile.jpg' %}" alt=""/> {{ user|credentials }} <i
                                        class="la la-angle-down"></i></span>
                    {% include 'fragments/employer_tree_widget.html' %}
                </div>
            {% else %}
                <div class="my-profiles-sec">
                                    <span>{{ user.first_name|title }} {{ user.last_name|upper }} <i
                                            class="la la-bars"></i></span>
                </div>

            {% endif %}
        {% endif %}
    </div>
    <nav>
        {% include 'fragments/nav_menu_items.html' %}
    </nav>
</div>