{{ reg_form.first_name.errors }}
<div class="cfield">
    {{ reg_form.first_name }}
    <i class="la la-user"></i>
</div>
{{ reg_form.last_name.errors }}
<div class="cfield">
    {{ reg_form.last_name }}
    <i class="la la-user"></i>
</div>
{{ reg_form.password.errors }}
<div class="cfield">
    {{ reg_form.password }}
    <i class="la la-key"></i>
</div>
{{ reg_form.email.errors }}
<div class="cfield">
    {{ reg_form.email }}
    <i class="la la-envelope-o"></i>
</div>
{{ reg_form.phone.errors }}
<div class="cfield">
    {{ reg_form.phone }}
    <i class="la la-phone"></i>
</div>
<select name="user_type" id="id_user_type" hidden>
    <option value="Candidate"></option>
    <option value="Employer"></option>
</select>
{{ reg_form.user_type.errors }}