{% load forms_tags %}
<div class="account-popup-area signin-popup-box">
    <h3>Авторизация</h3>
    <div class="account-popup">
        <span class="close-popup"><i class="la la-close"></i></span>
        <form method="post" action="/login/">
            {% csrf_token %}
            {% login_fields %}
            <button type="submit">Войти</button>
        </form>
        <div class="extra-login">
            <span>Или</span>
            <div class="login-social">
                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>