{% load forms_tags %}
<div class="account-popup-area signup-popup-box">
    <div class="account-popup">
        <h3>Регистрация</h3>
        <span class="close-popup"><i class="la la-close"></i></span>
        <div class="select-user">
            <span data-user-type="Candidate" class="active">Кандидат</span>
            <span data-user-type="Employer">Работодатель</span>
        </div>
        <form method="post" action="/registration/" name="registration">
            {% csrf_token %}
            {% register_fields %}
            <button type="submit">Регистрация</button>
        </form>
        <div class="extra-login">
            <span>Или</span>
            <div class="login-social">
                <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>


