<ul>
    <li><a href="/employers/profile/" title=""><i class="la la-file-text"></i> Профиль
        компании</a></li>
    <li><a href="/employers/jobs/" title=""><i class="la la-briefcase"></i> Мои вакансии</a>
    </li>
    <li><a href="/employers/resume/" title=""><i
            class="la la-paper-plane"></i> Резюме</a>
    </li>
    <li><a href="/job/new/" title=""><i class="la la-file-text"></i> Добавить
        ваканасию</a></li>
    <li><a href="/change_password/" title=""><i class="la la-lock"></i> Сменить
        пароль</a></li>
    <li><a href="/logout/" title=""><i class="la la-unlink"></i> Выйти</a></li>
</ul>