<ul>
    <li><a href="/candidates/resume/" title=""><i class="la la-briefcase"></i> Моё резюме</a></li>
    <li><a href="/candidates/resume/new/" title=""><i class="la la-briefcase"></i> Добавить новое резюме</a></li>
    <li><a href="/candidates/profile/" title=""><i class="la la-file-text"></i> Профиль</a></li>
    <li><a href="/change_password/" title=""><i class="la la-flash"></i> Сменить пароль</a></li>
    <li><a href="/logout/" title=""><i class="la la-unlink"></i> Выйти</a></li>
</ul>