{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Профиль</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Добро пожаловать</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% include 'fragments/employer_tree_widget.html' %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title" id="mp">
                                <h3>Профиль компании</h3>
                            </div>
                            <div class="profile-form-edit">
                                <form name="employer-main" action="{% url 'employer_profile_main' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Название компании</span>
                                            <div class="pf-field required">
                                               {{ main_form.company_name }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Доступна в поиске</span>
                                            <div class="pf-field required">
                                                {{ main_form.is_in_search }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Дата основания компании</span>
                                            <div class="pf-field">
                                               {{ main_form.since }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Штат компании</span>
                                            <div class="pf-field">
                                               {{ main_form.team_size }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">О компании</span>
                                            <div class="pf-field">
                                                {{ main_form.description }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Обновить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="contact-edit" id="ci">
                                <h3>Контакты</h3>
                                <form name="employer-contact" action="{% url 'employer_profile_contact' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <span class="pf-title">Рабочий телефон</span>
                                            <div class="pf-field required">
                                               {{ contact_form.phone }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Электронная почта компании</span>
                                            <div class="pf-field required">
                                                {{ contact_form.email }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Вэб-сайт компании</span>
                                            <div class="pf-field required">
                                                {{ contact_form.site }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Город</span>
                                            <div class="pf-field required">
                                                {{ contact_form.city }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Улица</span>
                                            <div class="pf-field required">
                                                {{ contact_form.street }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Дом</span>
                                            <div class="pf-field required">
                                                {{ contact_form.house }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Корпус</span>
                                            <div class="pf-field required">
                                                {{ contact_form.body }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Обновить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}