{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Работодатели</title>{% endblock %}
{% block content %}
    <section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Работодатели</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block less-top">
			<div class="container">
				 <div class="row">
				 	<aside class="col-lg-3 column margin_widget">
				 		<div class="widget">
				 			<div class="search_widget_job">
				 				<div class="field_w_search">
				 					<input type="text" placeholder="Ключевые слова" />
				 					<i class="la la-search"></i>
				 				</div><!-- Search Widget -->
				 				<div class="field_w_search">
				 					<input type="text" placeholder="All Locations" />
				 					<i class="la la-map-marker"></i>
				 				</div><!-- Search Widget -->
				 			</div>
				 		</div>
				 		<div class="widget border">
				 			<h3 class="sb-title open">Область работы</h3>
				 			<div class="specialism_widget">
				 				<div class="simple-checkbox scrollbar">
									{% for category in categories %}
                                        <p><input type="checkbox" name="spealism" id="cat-{{ category.id }}"><label
                                                for="cat-{{ category.id }}">{{ category.category_title }}
                                            ({{ category.get_vacancies_count }})</label></p>
                                    {% endfor %}
				 				</div>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="filterbar">
				 			<p>Всего 145 Работодателей</p>
				 			<div class="sortby-sec">
								<select data-placeholder="20 на странице" class="chosen">
									<option>30 на странице</option>
									<option>40 на странице</option>
									<option>50 на странице</option>
									<option>60 на странице</option>
								</select>
				 			</div>
				 		</div>
				 		<div class="emply-list-sec style2">
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="/employers/single" title=""><img src="images/resource/em1.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="/employers/single" title="">King LLC</a></h3>
				 					<span>Accountancy, Human Resources</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em2.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">Telimed</a></h3>
				 					<span>Accounting Assistant, Arts, Design, and Media</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em3.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">Ucess</a></h3>
				 					<span>Arts, Design, and Media, Web Developer</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em4.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">Airbnb</a></h3>
				 					<span>Arts, Design, and Media</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em5.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">TeraPlaner</a></h3>
				 					<span>Financial Services, Sales & Marketing</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em6.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">King LLC</a></h3>
				 					<span>Accountancy, Human Resources</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="emply-list">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="images/resource/em7.jpg" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">4 Open Position</div>
				 					<h3><a href="#" title="">King LLC</a></h3>
				 					<span>Accountancy, Human Resources</span>
				 					<h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
				 					<p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
				 				</div>
				 			</div><!-- Employe List -->
				 			<div class="pagination">
								<ul>
									<li class="prev"><a href=""><i class="la la-long-arrow-left"></i></a></li>
									<li><a href="">1</a></li>
									<li class="active"><a href="">2</a></li>
									<li><a href="">3</a></li>
									<li><span class="delimeter">...</span></li>
									<li><a href="">14</a></li>
									<li class="next"><a href=""><i class="la la-long-arrow-right"></i></a></li>
								</ul>
							</div><!-- Pagination -->
				 		</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

{% endblock %}