{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Uups... 404</title>{% endblock %}
{% block content %}
    <section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-featured-sec witherror">
							<ul class="main-slider-sec text-arrows">
								<li><img src="{% static 'images/resource/mslider1.jpg'%}" alt="" /></li>
								<li><img src="{% static 'images/resource/mslider1.jp'%}g" alt="" /></li>
								<li><img src="{% static 'images/resource/mslider1.jpg'%}" alt="" /></li>
							</ul>
							<div class="error-sec">
								<img src="{% static 'images/404.png'%}" alt="" />
								<span>We Are Sorry, Page Not Found</span>
								<p>Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist. Check the Url you entered for any mistakes and try again.</p>
								<form>
									<input type="text" placeholder="Введите ключевое слово" /><button type="submit"><i class="la la-search"></i></button>
								</form>
								<h6><a href="/" title="">Back To Homepage</a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}