{% extends 'main_layout.html' %}
{% load static %}
{% load forms_tags %}
{% block title %}<title>Авторизация</title>{% endblock %}
{% block header %}
    <header class="gradient">
		<div class="menu-sec">
			{% include 'fragments/nav_menu.html' %}
		</div>
	</header>
{% endblock %}

{% block content %}
    <section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Авторизация</h3>
								<span>Keep up to date with the latest news</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a href="/" title="">Home</a></li>
									<li><a href="#" title="">Авторизация</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="account-popup-area signin-popup-box static">
							<div class="account-popup">
                                {% if next %}
                                    Для просмотра страницы необходима авторизация
                                {% endif %}
                                {{ error }}
								<form method="post" action="/login/">
                                    {% csrf_token %}
									{% login_fields %}
									<button type="submit">Войти</button>
								</form>
								<div class="extra-login">
									<span>Или</span>
									<div class="login-social">
										<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
										<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
									</div>
								</div>
							</div>
						</div><!-- LOGIN POPUP -->
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}