{% load static %}
{% load user_tags %}
<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block title %}<title>Бюро по трудоустройству</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="yura.cheglakov">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2buttons.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

</head>
<body>

<div class="page-loading">
    <img src="images/loader.gif" alt=""/>
</div>

<div class="theme-layout" id="scrollup">
    <div class="responsive-header">
        <div class="responsive-menubar">
            <div class="menu-resaction">
                <div class="res-openmenu">
                    <img src="{% static 'images/icon.png' %}" alt=""/> Меню
                </div>
                <div class="res-closemenu">
                    <img src="{% static 'images/icon2.png' %}" alt=""/> Закрыть
                </div>
            </div>
        </div>
        <div class="responsive-opensec">
            <div class="btn-extars">
            {% if user|has_group:'Employer' %}
                <a href="/job/new/" title="" class="post-job-btn"><i class="la la-plus"></i>Добавить вакансию</a>
            {% endif %}
                {% if not user.is_authenticated %}
                <ul class="account-btns">
                    <li class="signup-popup"><a title=""><i class="la la-key"></i>Регистрация</a></li>
                    <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i>Войти</a></li>
                </ul>
                {% endif %}
            </div><!-- Btn Extras -->
            <form class="res-search">
                <input type="text" placeholder="Должность, ключевые слова или название компании"/>
                <button type="submit"><i class="la la-search"></i></button>
            </form>
            <div class="responsivemenu">
                {% include 'fragments/nav_menu_items.html' %}
            </div>
        </div>
    </div>
    {% block header %}
        <header class="stick-top">
            <div class="menu-sec">
                {% include 'fragments/nav_menu.html' %}
            </div>
        </header>
    {% endblock %}

    {% block content %}
        <section>
            <div class="block no-padding">
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-featured-sec">
                                <div class="new-slide">
                                    <img src="{% static 'images/resource/vector-1.png' %}">
                                </div>
                                <div class="job-search-sec">
                                    <div class="job-search">
                                        <h3>Самый простой способ найти работу</h3>
                                        <span>Найти работу, Работодателя и Карьерные возможности</span>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
                                                    <div class="job-field">
                                                        <input type="text"
                                                               placeholder="Должность, ключевые слова или название компании"/>
                                                        <i class="la la-keyboard-o"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                    <div class="job-field">
                                                        <select data-placeholder="Город, регион" class="chosen-city">
                                                            <option>Киров</option>
                                                            <option>Москва</option>
                                                            <option>Санкт-Питербург</option>
                                                            <option>Казань</option>
                                                        </select>
                                                        <i class="la la-map-marker"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                                                    <button type="submit"><i class="la la-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="or-browser">
                                            <span>Посмотреть</span>
                                            <a href="#" title="">Категории</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-to">
                                    <a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="scroll-here">
            <div class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading">
                                <h2>Популярные категории</h2>
                                <span>37 вакансии - 0 добавлено сегодня.</span>
                            </div><!-- Heading -->
                            <div class="cat-sec">
                                <div class="row no-gape">
                                    {% for category in categories|slice:":4" %}
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="p-category">
                                                <a href="#" title="">
                                                    <i class="la la-{{ category.category_icon }}"></i>
                                                    <span>{{ category.category_title }}</span>
                                                    <p>({{ category.get_vacancies_count }})</p>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cat-sec">
                                <div class="row no-gape">
                                    {% for category in categories|slice:"4:" %}
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="p-category">
                                                <a href="#" title="">
                                                    <i class="la la-{{ category.category_icon }}"></i>
                                                    <span>{{ category.category_title }}</span>
                                                    <p>({{ category.get_vacancies_count }})</p>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="browse-all-cat">
                                <a href="/job/" title="">Посмотреть все</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    <footer>
        <div class="block">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>

</div>
{% if user.is_authenticated %}
    {% include 'fragments/profile_sidebar.html' %}
{% else %}
    {% include 'modal/modal_login.html' %}
    {% include 'modal/modal_registration.html' %}
{% endif %}



<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select-chosen.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2buttons.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>

</body>
</html>

