{% extends 'main_layout.html' %}
{% load static %}
{% load forms_tags %}
{% block title %}<title>Регистрация</title>{% endblock %}
{% block header %}
    <header class="gradient">
        <div class="menu-sec">
            {% include 'fragments/nav_menu.html' %}
        </div>
    </header>

{% endblock %}

{% block content %}
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Регистрация</h3>
                                <span>Keep up to date with the latest news</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <li><a href="/" title="">Home</a></li>
                                    <li><a href="#" title="">Регистрация</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="account-popup-area signup-popup-box static">
                            <div class="account-popup">
                                <h3>Регистрация</h3>
                                <span>Lorem ipsum dolor sit amet consectetur adipiscing elit odio duis risus at lobortis ullamcorper</span>
                                <div class="select-user">
                                    <span data-user-type="Candidate" class="active">Кандидат</span>
                                    <span data-user-type="Employer">Работодатель</span>
                                </div>
                                <form method="post" action="/registration/" name="registration">
                                    {% csrf_token %}
                                    {% register_fields %}
                                    <button type="submit">Регистрация</button>
                                </form>
                                <div class="extra-login">
                                    <span>Или</span>
                                    <div class="login-social">
                                        <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                        <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- SIGNUP POPUP -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}