{% extends 'main_layout.html' %}
{% load static %}

{% block title %}<title>Профиль</title>{% endblock %}

{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div>
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Добро пожаловать {{ user.get_full_name|upper }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% include 'fragments/candidate_tree_widget.html' %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Профиль</h3>
                            </div>
                            <div class="profile-form-edit">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Ф.И.О.</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Ali TUFAN" value="{{ user.get_full_name }}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Специальность</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="UX / UI Designer"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Отображать в поиске</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Allow In Search" class="chosen">
                                                    <option>Разрешнить</option>
                                                    <option>Запретить</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Минимальная зар. плата</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="4250 руб."/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Опыт работы</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Allow In Search" class="chosen">
                                                    <option>2-6 Лет</option>
                                                    <option>6-12 Лет</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Возраст</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Возраст" class="chosen">
                                                    <option>22-30 Лет</option>
                                                    <option>30-40 Лет</option>
                                                    <option>40-50 Лет</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Текущая зар. плата(руб.) мин.</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="20K"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Макс.</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="30K"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Ожид-я зар. плата(руб.) мин.</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="30k"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Макс.</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="40K"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Уровень образование</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>Diploma</option>
                                                    <option>Inter</option>
                                                    <option>Bachelor</option>
                                                    <option>Graduate</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Языки</span>
                                            <div class="pf-field">
                                                <div class="pf-field">
                                                    <select data-placeholder="Please Select Specialism" class="chosen">
                                                        <option>English</option>
                                                        <option>German</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Категории</span>
                                            <div class="pf-field no-margin">
                                                <ul class="tags">
                                                    <li class="addedTag">Photoshop<span
                                                            onclick="$(this).parent().remove();"
                                                            class="tagRemove">x</span><input type="hidden" name="tags[]"
                                                                                             value="Photoshop"></li>
                                                    <li class="addedTag">Digital & Creative<span
                                                            onclick="$(this).parent().remove();"
                                                            class="tagRemove">x</span><input type="hidden" name="tags[]"
                                                                                             value="Digital"></li>
                                                    <li class="addedTag">Agency<span
                                                            onclick="$(this).parent().remove();"
                                                            class="tagRemove">x</span><input type="hidden" name="tags[]"
                                                                                             value="Agency"></li>
                                                    <li class="tagAdd taglist">
                                                        <input type="text" id="search-field">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">О себе</span>
                                            <div class="pf-field">
                                                <textarea>Spent several years working on sheep on Wall Street. Had moderate success investing in Yugos on Wall Street. Managed a small team buying and selling pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed severalnew methods for working with banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer ollaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="border-title"><h3>Образование</h3><a href="{% url 'candidate_education_new' %}" title=""><i
                                        class="la la-plus"></i> Добавить</a></div>
                                <div class="edu-history-sec">
                                    {% for education in educations %}
                                        {% include 'fragments/education' with education=education %}
                                    {% endfor %}
                                </div>
                            <div class="contact-edit">
                                <h3>Контакты</h3>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <span class="pf-title">Номер телефона</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="+90 538 963 58 96"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <span class="pf-title">Электронная почта</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="demo@jobhunt.com"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Страна</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>Web Development</option>
                                                    <option>Web Designing</option>
                                                    <option>Art & Culture</option>
                                                    <option>Reading & Writing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Город</span>
                                            <div class="pf-field">
                                                <select data-placeholder="Please Select Specialism" class="chosen">
                                                    <option>Web Development</option>
                                                    <option>Web Designing</option>
                                                    <option>Art & Culture</option>
                                                    <option>Reading & Writing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">Улица\Проспект\Проезд</span>
                                            <div class="pf-field">
                                                <input type="text"
                                                       placeholder="Collins Street West, Victoria 8007, Australia."/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Район</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="Октябрьский"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Дом</span>
                                            <div class="pf-field">
                                                <input type="text" placeholder="3"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Обновить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}