{% extends 'main_layout.html' %}
{% load static %}

{% block title %}<title>Новое резюме</title>{% endblock %}

{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Welcome {{ user.first_name|title }} {{ user.last_name|upper }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-top">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% include 'fragments/candidate_tree_widget.html' %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="manage-jobs-sec">
                                <div class="border-title"><h3>Образование</h3><a class="cancel" href="#" title=""><i
                                        class="la la-close"></i> Отмена</a></div>
                                <div class="resumeadd-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Профиль</span>
                                            <div class="pf-field">
                                                <input placeholder="Tooms.." type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">С</span>
                                            <div class="pf-field">
                                                <input placeholder="06.11.2007" type="text"
                                                       class="form-control datepicker">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="pf-title">До</span>
                                            <div class="pf-field">
                                                <input placeholder="06.11.2012" type="text"
                                                       class="form-control datepicker">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Учебное заведение</span>
                                            <div class="pf-field">
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Описание</span>
                                            <div class="pf-field">
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-title"><h3>Опыт работы</h3><a class="cancel" href="#" title=""><i
                                        class="la la-close"></i> Отмена</a></div>
                                <div class="resumeadd-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="pf-title">Должность</span>
                                            <div class="pf-field">
                                                <input placeholder="Tooms.." type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span class="pf-title">С</span>
                                            <div class="pf-field">
                                                <input placeholder="06.11.2007" type="text"
                                                       class="form-control datepicker">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <span class="pf-title">По</span>
                                            <div class="pf-field">
                                                <input placeholder="06.11.2012" type="text"
                                                       class="form-control datepicker">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <p class="remember-label">
                                                <input type="checkbox" name="cb" id="fgfg"><label
                                                    for="fgfg">Present</label>
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Компания</span>
                                            <div class="pf-field">
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <span class="pf-title">Описание</span>
                                            <div class="pf-field">
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-title"><h3>Профессиональные навыки</h3><a class="cancel" href="#"
                                                                                         title=""><i
                                        class="la la-close"></i> Отмена</a></div>
                                <div class="resumeadd-form">
                                    <div class="row align-items-end">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Что-то связанное с работой</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <span class="pf-title">Процент владения</span>
                                            <div class="pf-field">
                                                <input placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}