{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Кандидаты</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Кандидаты</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="search_widget_job">
                                <div class="field_w_search">
                                    <input type="text" placeholder="Поиск"/>
                                    <i class="la la-search"></i>
                                </div><!-- Search Widget -->
                                <div class="field_w_search">
                                    <input type="text" placeholder="Везде"/>
                                    <i class="la la-map-marker"></i>
                                </div><!-- Search Widget -->
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title open">Последня активность</h3>
                            <div class="posted_widget">
                                <input type="radio" name="choose" id="232"><label for="232">За последний
                                час</label><br/>
                                <input type="radio" name="choose" id="wwqe"><label for="wwqe">За последние сутки</label><br/>
                                <input type="radio" name="choose" id="erewr"><label for="erewr">За последнюю
                                неделю</label><br/>
                                <input type="radio" name="choose" id="qwe"><label for="qwe">За последние 2
                                недели</label><br/>
                                <input type="radio" name="choose" id="wqe"><label for="wqe">За последний
                                месяц</label><br/>
                                <input type="radio" name="choose" id="qweqw"><label class="nm"
                                                                                    for="qweqw">Все</label><br/>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title open">Область работы</h3>
                            <div class="specialism_widget">
                                <div class="simple-checkbox scrollbar">
                                    {% for category in categories %}
                                        <p><input type="checkbox" name="spealism" id="cat-{{ category.id }}"><label
                                                for="cat-{{ category.id }}">{{ category.category_title }}
                                            ({{ category.get_vacancies_count }})</label></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title open">Желаемая зар. плата</h3>
                            <div class="specialism_widget">
                                <div class="simple-checkbox">
                                    <p><input type="checkbox" name="smplechk" id="1"><label for="1">10k - 20k</label>
                                    </p>
                                    <p><input type="checkbox" name="smplechk" id="2"><label for="2">20k - 30k</label>
                                    </p>
                                    <p><input type="checkbox" name="smplechk" id="3"><label for="3">30k - 40k</label>
                                    </p>
                                    <p><input type="checkbox" name="smplechk" id="4"><label for="4">40k - 50k</label>
                                    </p>
                                    <p><input type="checkbox" name="smplechk" id="28"><label for="28">50k - 60k</label>
                                    </p>
                                    <p><input type="checkbox" name="smplechk" id="29"><label for="29">60k - 70k</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="sb-title closed">Опыт работы</h3>
                            <div class="specialism_widget">
                                <div class="simple-checkbox">
                                   {% for experience in experiences %}
                                        <p><input type="checkbox" name="spealism" id="ex-{{ experience.experience_title }}"><label
                                                for="ex-{{ experience.experience_title }}">{{ experience.experience_title }} ({{ experience.experience_suffix }})</label></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="emply-resume-sec">
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er1.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="/candidates/single" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er2.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er3.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er4.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er5.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er6.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er7.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er8.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="images/resource/er9.jpg" alt=""/>
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="shortlists">
                                        <a href="#" title="">Shortlist <i class="la la-plus"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}