{% extends 'main_layout.html' %}
{% load static %}
{% block title %}<title>Образование</title>{% endblock %}
{% block content %}
    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1"
                 style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;"
                 class="parallax scrolly-invisible no-parallax"></div>
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Добро пожаловать {{ user.get_full_name|upper }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape">
                    <aside class="col-lg-3 column border-right">
                        <div class="widget">
                            <div class="tree_widget-sec">
                                {% include 'fragments/candidate_tree_widget.html' %}
                            </div>
                        </div>
                    </aside>
                    <div class="col-lg-9 column">
                        <div class="border-title"><h3>Образование</h3><a class="cancel"
                                                                         href="{% url 'candidate_profile' %}"
                                                                         title=""><i
                                class="la la-close"></i> Отмена</a></div>
                        <form action="{% url 'candidate_education_new' %}" method="post">
                            {% csrf_token %}
                            <div class="resumeadd-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="pf-title">Уровень</span>
                                        <div class="pf-field">
                                            {{ form.education_level }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Профиль</span>
                                        <div class="pf-field">
                                            {{ form.education_special }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">С</span>
                                        <div class="pf-field">
                                            {{ form.education_since }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">До</span>
                                        <div class="pf-field">
                                            {{ form.education_to }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Учебное заведение</span>
                                        <div class="pf-field">
                                            {{ form.education_institute_title }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Описание</span>
                                        <div class="pf-field">
                                            {{ form.education_description }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}